
<div class="">

<div class="flex gap-5 mb-7">
<div class="w-1/3 bg-gray-500 h-2 rounded" [class.!bg-green-500]="step >= 1"></div>
<div class="w-1/3 bg-gray-500 h-2 rounded" [class.!bg-green-500]="step >= 2"></div>
<div class="w-1/3 bg-gray-500 h-2 rounded" [class.!bg-green-500]="step == 3"></div>
</div>



<form class="my-8 hidden" [formGroup]="forgetPassword" (ngSubmit)="handleForgetPassword()" [class.!block]="step == 1">
    <h2 class="text-3xl  text-main">Forget Password Form :</h2>
  <div class="relative z-0 w-full my-7 group">
      <input formControlName="email" type="email" id="floating_email" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-black dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " required />
      <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
  </div>
    <button type="submit" class="text-white bg-main hover:bg-green-800  cursor-pointer  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
        @if (isLoading) {
            loading...
        }@else {
            submit
        }

    </button>

  </form>



<form class="my-8 hidden" (ngSubmit)="handleVerfiyCode()" [formGroup]="verifyCode"  [class.!block]="step == 2">
<h2 class="text-3xl  text-main">Verify Code Form:</h2>
  <div class="relative z-0 w-full my-7 group">
      <input formControlName="resetCode" type="text" id="floating_code" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-black dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " required />
      <label for="floating_code" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Verify Code</label>
  </div>
    @if (resetCodeController?.getError("required") &&  resetCodeController?.touched){
   <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"   role="alert">
 <p>Code Is Required</p>
 @if (resetCodeController?.getError("min") &&  resetCodeController?.touched) {
    <p>min length of code is 5 char</p>
 }

@if (resetCodeController?.getError("pattern") && resetCodeController?.touched) {
    <p>please enter valid code</p>
}


</div>
  }
    <button type="submit" class="text-white bg-main hover:bg-green-800  cursor-pointer  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
        @if (isLoadingVefiy) {
        loading...
        }@else {
            submit
        }


    </button>
  </form>









  <form class="my-8 hidden" (ngSubmit)="handleResetPassword()" [formGroup]="resetPassword" [class.!block]="step == 3">
    <h2 class="text-3xl  text-main">Reset Password Form :</h2>
  <div class="relative z-0 w-full my-7 group">
      <input type="email" readonly formControlName="email" id="floating_email2" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-black dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " required />
      <label for="floating_email2" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
  </div>

  <div class="relative z-0 w-full my-7 group">
      <input type="password"  formControlName="newPassword" id="floating_password" class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-black dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " required />
      <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">new password</label>
  </div>


  
    <button type="submit" class="text-white bg-main hover:bg-green-800  cursor-pointer  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">

        @if (isLoadingResetPassword) {
            loading...
        }@else {
            submit
        }


    </button>

  </form>








</div>




