<div class="bg-[#f1f3f2] py-7">
<div class="w-[75%] mx-auto ">
<h2 class="text-2xl md:text-3xl font-normal mb-3">Get The Fresh Cart App</h2>
<p>We Will send you a link , open it on your phone to download the app</p>
<div class="flex items-center justify-between my-4">
<input type="text" class="w-[90%] border border-0 border-main rounded focus:border-1 outline-none" placeholder="Email....">
<button class="bg-main text-white py-2 px-4 cursor-pointer rounded md:text-2xl active:scale-[.98]">Share</button>
</div>
<img src="./images/footer_image.jpg" class="w-full my-3" alt="">
</div>
</div>